

<div class="row">
    <div class="col-lg-12">
    <div class="alert {{class}} " role="alert" style="border-radius: 20px;">
        <div class="row">
        <div class="col-xs-10">
            <i class="{{ icono}}" aria-hidden="true"></i>
            <strong>{{ titulo }} </strong>  <label style="line-height: 17px;">{{ subTitulo }}</label>
        </div>
        <div class="col-xs-2" style = "display: flex;
            justify-content: right;
            align-items: center;cursor:pointer"> 
            <span class=""  data-dismiss="alert"  aria-label="Close"><b>X</b></span>                             
        </div>
        </div>
    </div>
    </div>               
</div>