<style>
    .imgBack{
        background: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 60%)), url(https://cdn.shopify.com/s/files/1/0588/1380/8845/files/FONDO_TARIFARIO_DE_ENTRADAS.jpg?v=1647295954);
        background-attachment: fixed;
        background-size: auto;
        background-position: 50%;
        padding-top: 50px;
        padding-bottom: 80px;
        
    }

    .imgBack h1{
        text-align: center;
        font-size: 40px;
        color: red;
    }

    .imgBack h2{
        color: white;
        text-align: center;
    }

    .day{
        float: left;
    }

    .ticket * {
        color: #999;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
    }

    .day_num{
        width: 150px;
        border-right: 4px solid #ffffff;
        line-height: 33px;
        display: flex;
        align-items: center;
    }

    .day_num span {
        
        font-size: 59px;
        color: #fff;
    }

    .day_num div {
        margin-left: 13px;
    }

    .day_num div p {
        font-size: 20px;
        margin: -5px;
        text-transform: uppercase;
    }


    .name {
        float: left;
        padding-left: 10px;
    }

    .name p {
        
        font-size: 22px;
        margin: 0;
        font-weight: 300;
        color: #fff;
        width: 180px;
    }

    .name1 p {
        
        font-size: 22px;
        margin: 0;
        font-weight: 300;
        color: #fff;
        width: 200px;
    }

     .name1-agotado p {
        
        font-size: 22px;
        margin: 0;
        font-weight: 600;
        color: #db3434;
        width: 200px;
    }
      .name2 p {
        
        font-size: 22px;
        margin: 0;
        font-weight: 300;
        color: #fff;
        width: 200px;
  		   color: transparent;
        text-shadow: 0 0 10px #fff;
    }

    .divTarifas{
        padding-top: 90px;
    
        overflow-x: auto;
        height:680px;
    }

    .btnTarifa{
        text-align:center;
    }
    .btnTarifa a
    {
        color: #f8f8f8!important;
        text-transform: uppercase;
        padding: 10px 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        transition: all .5s ease;
    }

    hr{
	    border-top: 2px dashed #8c8b8b;
        margin: 14px;
    }
    
    .tb_{
        width: 100%;
    }

    .tb_ thead th{
            font-size: 30px;
        margin: 0;
        font-weight: 300;
        color: #fff;

    }

    .tb_ thead td{
        color: black;

    }

    .tb_ tbody tr{
       height: 53px;
    }

    

</style>

<div class=" imgBack">
    <div>
        <h1>Tarifas de Entradas</h1>
    </div>
    
    <div class="container divTarifas">
        
        <table class="tb_">
            <thead>
                <tr>
                    <th></th>
                    <th>Sector</th>                 
                    <th>Fase 1</th>
                    <th>Preventa</th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="name">
                            <p><span>PALCO</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>             
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="name">
                            <p><span>PRIMERA FILA x2 Entradas</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <div class="name">
                            <p><span>DIAMANTE</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btnTarifa"><a href="https://elgeniox.com/products/fase-1-sector-super-vip-entrada-para-christian-nodal" target="_blank">Comprar</a></div>
                    </td>
                    <td>
                        <div class="name">
                            <p><span>SUPER VIP</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1">
                            <p><span>770 Bs.</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btnTarifa"><a href="https://elgeniox.com/products/fase-1-sector-vip-entrada-para-christian-nodal" target="_blank">Comprar</a></div>
                    </td>
                    <td>
                        <div class="name">
                            <p><span>VIP</span></p>
                        </div>
                    </td>
                         <td>
                        <div class="name1">
                            <p><span>580 Bs.</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btnTarifa"><a href="https://elgeniox.com/products/fase-1-sector-campo-entrada-para-christian-nodal" target="_blank">Comprar</a></div>
                    </td>
                    <td>
                        <div class="name">
                            <p><span>CAMPO</span></p>
                        </div>
                    </td>
                        <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btnTarifa"><a href="https://elgeniox.com/products/fase-1-sector-preferencia-entrada-para-christian-nodal" target="_blank">Comprar</a></div>
                    </td>
                    <td>
                        <div class="name">
                            <p><span>PREFERENCIA</span></p>
                        </div>
                    </td>
                   <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                    </td>
                    <td>
                        <div class="name">
                            <p><span>GENERAL</span></p>
                        </div>
                    </td>
                     <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <div class="name">
                            <p><span>CURVA</span></p>
                        </div>
                    </td>
                     <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                    <td>
                        <div class="name1-agotado">
                            <p><span>AGOTADO</span></p>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
