{%-case cur-%}
{%-when "USD"-%}<span aria-label="United States Dollars">USD</span>
{%-when "EUR"-%}<span aria-label="Euro">EUR</span>
{%-when "GBP"-%}<span aria-label="United Kingdom Pounds">GBP</span>
{%-when "CAD"-%}<span aria-label="Canadian Dollars">CAD</span>
{%-when "ALL"-%}<span aria-label="Albanian Lek">ALL</span>
{%-when "DZD"-%}<span aria-label="Algerian Dinar">DZD</span>
{%-when "AOA"-%}<span aria-label="Angolan Kwanza">AOA</span>
{%-when "ARS"-%}<span aria-label="Argentine Pesos">ARS</span>
{%-when "AMD"-%}<span aria-label="Armenian Dram">AMD</span>
{%-when "AWG"-%}<span aria-label="Aruban Florin">AWG</span>
{%-when "AUD"-%}<span aria-label="Australian Dollars">AUD</span>
{%-when "BBD"-%}<span aria-label="Barbadian Dollar">BBD</span>
{%-when "AZN"-%}<span aria-label="Azerbaijani Manat">AZN</span>
{%-when "BDT"-%}<span aria-label="Bangladesh Taka">BDT</span>
{%-when "BSD"-%}<span aria-label="Bahamian Dollar">BSD</span>
{%-when "BHD"-%}<span aria-label="Bahraini Dinar">BHD</span>
{%-when "BYR"-%}<span aria-label="Belarusian Ruble">BYR</span>
{%-when "BZD"-%}<span aria-label="Belize Dollar">BZD</span>
{%-when "BTN"-%}<span aria-label="Bhutanese Ngultrum">BTN</span>
{%-when "BAM"-%}<span aria-label="Bosnia and Herzegovina Convertible Mark">BAM</span>
{%-when "BRL"-%}<span aria-label="Brazilian Real">BRL</span>
{%-when "BOB"-%}<span aria-label="Bolivian Boliviano">BOB</span>
{%-when "BWP"-%}<span aria-label="Botswana Pula">BWP</span>
{%-when "BND"-%}<span aria-label="Brunei Dollar">BND</span>
{%-when "BGN"-%}<span aria-label="Bulgarian Lev">BGN</span>
{%-when "MMK"-%}<span aria-label="Burmese Kyat">MMK</span>
{%-when "KHR"-%}<span aria-label="Cambodian Riel">KHR</span>
{%-when "KYD"-%}<span aria-label="Cayman Dollars">KYD</span>
{%-when "XAF"-%}<span aria-label="Central African CFA Franc">XAF</span>
{%-when "CLP"-%}<span aria-label="Chilean Peso">CLP</span>
{%-when "CNY"-%}<span aria-label="Chinese Yuan Renminbi">CNY</span>
{%-when "COP"-%}<span aria-label="Colombian Peso">COP</span>
{%-when "CRC"-%}<span aria-label="Costa Rican Colones">CRC</span>
{%-when "HRK"-%}<span aria-label="Croatian Kuna">HRK<</span>
{%-when "CZK"-%}<span aria-label="Czech Koruny">CZK</span>
{%-when "DKK"-%}<span aria-label="Danish Kroner">DKK</span>
{%-when "DOP"-%}<span aria-label="Dominican Peso">DOP</span>
{%-when "XCD"-%}<span aria-label="East Caribbean Dollar">XCD</span>
{%-when "EGP"-%}<span aria-label="Egyptian Pound">EGP</span>
{%-when "ETB"-%}<span aria-label="Ethiopian Birr">ETB</span>
{%-when "XPF"-%}<span aria-label="CFP Franc">XPF</span>
{%-when "FJD"-%}<span aria-label="Fijian Dollars">FJD</span>
{%-when "GMD"-%}<span aria-label="Gambian Dalasi">GMD</span>
{%-when "GHS"-%}<span aria-label="Ghanaian Cedi">GHS</span>
{%-when "GTQ"-%}<span aria-label="Guatemalan Quetzal">GTQ</span>
{%-when "GYD"-%}<span aria-label="Guyanese Dollar">GYD</span>
{%-when "GEL"-%}<span aria-label="Georgian Lari">GEL</span>
{%-when "HNL"-%}<span aria-label="Honduran Lempira">HNL</span>
{%-when "HKD"-%}<span aria-label="Hong Kong Dollars">HKD</span>
{%-when "HUF"-%}<span aria-label="Hungarian Forint">HUF</span>
{%-when "ISK"-%}<span aria-label="Icelandic Kronur">ISK</span>
{%-when "INR"-%}<span aria-label="Indian Rupees">INR</span>
{%-when "IDR"-%}<span aria-label="Indonesian Rupiah">IDR</span>
{%-when "ILS"-%}<span aria-label="Israeli New Shekel">NIS</span>
{%-when "JMD"-%}<span aria-label="Jamaican Dollars">JMD</span>
{%-when "JPY"-%}<span aria-label="Japanese Yen">JPY</span>
{%-when "JEP"-%}<span aria-label="Jersey Pound">JEP</span>
{%-when "JOD"-%}<span aria-label="Jordanian Dinar">JOD</span>
{%-when "KZT"-%}<span aria-label="Kazakhstani Tenge">KZT</span>
{%-when "KES"-%}<span aria-label="Kenyan Shilling">KES</span>
{%-when "KWD"-%}<span aria-label="Kuwaiti Dinar">KWD</span>
{%-when "KGS"-%}<span aria-label="Kyrgyzstani Som">KGS</span>
{%-when "LAK"-%}<span aria-label="Laotian Kip">LAK</span>
{%-when "LVL"-%}<span aria-label="Latvian Lati">LVL</span>
{%-when "LBP"-%}<span aria-label="Lebanese Pounds">LBP</span>
{%-when "LSL"-%}<span aria-label="Lesotho Loti">LSL</span>
{%-when "LRD"-%}<span aria-label="Liberian Dollar">LRD</span>
{%-when "LTL"-%}<span aria-label="Lithuanian Litai">LTL</span>
{%-when "MGA"-%}<span aria-label="Malagasy Ariary">MGA</span>
{%-when "MKD"-%}<span aria-label="Macedonia Denar">MKD</span>
{%-when "MOP"-%}<span aria-label="Macanese Pataca">MOP</span>
{%-when "MWK"-%}<span aria-label="Malawian Kwacha">MWK</span>
{%-when "MVR"-%}<span aria-label="Maldivian Rufiyaa">MVR</span>
{%-when "MXN"-%}<span aria-label="Mexican Pesos">MXN</span>
{%-when "MYR"-%}<span aria-label="Malaysian Ringgits">MYR</span>
{%-when "MUR"-%}<span aria-label="Mauritian Rupee">MUR</span>
{%-when "MDL"-%}<span aria-label="Moldovan Leu">MDL</span>
{%-when "MAD"-%}<span aria-label="Moroccan Dirham">MAD</span>
{%-when "MNT"-%}<span aria-label="Mongolian Tugrik">MNT</span>
{%-when "MZN"-%}<span aria-label="Mozambican Metical">MZN</span>
{%-when "NAD"-%}<span aria-label="Namibian Dollar">NAD</span>
{%-when "NPR"-%}<span aria-label="Nepalese Rupee">NPR</span>
{%-when "ANG"-%}<span aria-label="Netherlands Antillean Guilder">ANG</span>
{%-when "NZD"-%}<span aria-label="New Zealand Dollars">NZD</span>
{%-when "NIO"-%}<span aria-label="Nicaraguan Córdoba">NIO</span>
{%-when "NGN"-%}<span aria-label="Nigerian Naira">NGN</span>
{%-when "NOK"-%}<span aria-label="Norwegian Kroner">NOK</span>
{%-when "OMR"-%}<span aria-label="Omani Rial">OMR</span>
{%-when "PKR"-%}<span aria-label="Pakistani Rupee">PKR</span>
{%-when "PGK"-%}<span aria-label="Papua New Guinean Kina">PGK</span>
{%-when "PYG"-%}<span aria-label="Paraguayan Guarani">PYG</span>
{%-when "PEN"-%}<span aria-label="Peruvian Nuevo Sol">PEN</span>
{%-when "PHP"-%}<span aria-label="Philippine Peso">PHP</span>
{%-when "PLN"-%}<span aria-label="Polish Zlotych">PLN</span>
{%-when "QAR"-%}<span aria-label="Qatari Rial">QAR</span>
{%-when "RON"-%}<span aria-label="Romanian Lei">RON</span>
{%-when "RUB"-%}<span aria-label="Russian Rubles">RUB</span>
{%-when "RWF"-%}<span aria-label="Rwandan Franc">RWF</span>
{%-when "WST"-%}<span aria-label="Samoan Tala">WST</span>
{%-when "SAR"-%}<span aria-label="Saudi Riyal">SAR</span>
{%-when "STD"-%}<span aria-label="Sao Tome And Principe Dobra">STD</span>
{%-when "RSD"-%}<span aria-label="Serbian dinar">RSD</span>
{%-when "SCR"-%}<span aria-label="Seychellois Rupee">SCR</span>
{%-when "SGD"-%}<span aria-label="Singapore Dollars">SGD</span>
{%-when "SYP"-%}<span aria-label="Syrian Pound">SYP</span>
{%-when "ZAR"-%}<span aria-label="South African Rand">ZAR</span>
{%-when "KRW"-%}<span aria-label="South Korean Won">KRW</span>
{%-when "LKR"-%}<span aria-label="Sri Lankan Rupees">LKR</span>
{%-when "SRD"-%}<span aria-label="Surinamese Dollar">SRD</span>
{%-when "SEK"-%}<span aria-label="Swedish Kronor">SEK</span>
{%-when "CHF"-%}<span aria-label="Swiss Francs">CHF</span>
{%-when "TWD"-%}<span aria-label="Taiwan Dollars">TWD</span>
{%-when "THB"-%}<span aria-label="Thai baht">THB</span>
{%-when "TZS"-%}<span aria-label="Tanzanian Shilling">TZS</span>
{%-when "TTD"-%}<span aria-label="Trinidad and Tobago Dollars">TTD</span>
{%-when "TND"-%}<span aria-label="Tunisian Dinar">TND</span>
{%-when "TRY"-%}<span aria-label="Turkish Lira">TRY</span>
{%-when "TMT"-%}<span aria-label="Turkmenistani Manat">TMT</span>
{%-when "UGX"-%}<span aria-label="Ugandan Shilling">UGX</span>
{%-when "UAH"-%}<span aria-label="Ukrainian Hryvnia">UAH</span>
{%-when "AED"-%}<span aria-label="United Arab Emirates Dirham">AED</span>
{%-when "UYU"-%}<span aria-label="Uruguayan Pesos">UYU</span>
{%-when "UZS"-%}<span aria-label="Uzbekistan som">UZS</span>
{%-when "VUV"-%}<span aria-label="Vanuatu Vatu">VUV</span>
{%-when "VEF"-%}<span aria-label="Venezuelan Bolivares">VEF</span>
{%-when "VND"-%}<span aria-label="Vietnamese đồng">VND</span>
{%-when "XOF"-%}<span aria-label="West African CFA franc">XOF</span>
{%-when "YER"-%}<span aria-label="Yemeni Rial">YER</span>
{%-when "ZMW"-%}<span aria-label="Zambian Kwacha">ZMW</span>
{%-endcase-%}