/* Tables */
.table-cart {
  margin-bottom: 3rem;
}
.table-cart th {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #999;
}
.table-cart th,
.table-cart thead th,
.table-cart td {
  border-top: none;
  border-bottom: 0.1rem solid #ebebeb;
}
.table-cart th,
.table-cart td {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.table-cart td {
  vertical-align: middle;
}

.product-col .product {
  margin: 0;
  box-shadow: none !important;
  text-align: initial;
}
@media (min-width: 768px) {
  .product-col .product {
    padding-left: 2rem;
  }
}
.product-col .product-media {
  display: inline-block;
  margin: 0;
  margin-left: 1.5rem;
  flex-shrink: 0;
  max-width: 80px;
  margin-top: 0.4rem;
}
@media (min-width: 768px) {
  .product-col .product-media {
    margin-top: 0;
    margin-left: 2.8rem;
    max-width: 60px;
  }
}
.product-col .product-title {
  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  margin: 0;
}
.product-col .product-title a {
  color: inherit;
}
.product-col .cart__meta-text {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .product-col .cart__meta-text {
    font-size: 1.4rem;
  }
}
.product-col .cart__meta-price {
  font-size: 1.6rem;
  font-weight: 400;
}
.product-col .cart__meta-price .info-discount {
  font-size: 1.4rem;
  left: -100px !important;
}

.btn-remove {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: #cccccc;
  background-color: transparent;
  font-size: 1.7rem;
  line-height: 1;
  border: none;
  outline: none;
  transition: all 0.35s;
  cursor: pointer;
}
.btn-remove:hover, .btn-remove:focus {
  color: #333;
}

/* Shopping Cart */
@media (min-width: 992px) {
  .cart .col-lg-3 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .cart .col-lg-9 {
    -ms-flex: 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
}

.table .total-col {
  color: var(--primary);
  font-weight: 400;
  font-size: 1.6rem;
}

.table.table-cart thead {
  display: none;
}
@media (min-width: 768px) {
  .table.table-cart thead {
    display: table-header-group;
  }
}
.table.table-cart td {
  width: 100%;
  display: flex;
  min-width: 0;
  -webkit-flex: 1 1 100%;
  -moz-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  border-width: 0;
}
.table.table-cart td.price-col, .table.table-cart td.total-col {
  display: none;
}
.table.table-cart td.total-col .text-nowrap {
  font-size: 1.4rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .table.table-cart td {
    width: auto;
    display: table-cell;
    border-width: 1px;
  }
  .table.table-cart td.price-col, .table.table-cart td.total-col {
    display: table-cell;
  }
  .table.table-cart td.price-col {
    width: 120px;
  }
  .table.table-cart td.quantity-col {
    width: 135px;
  }
}
@media (max-width: 767px) {
  .table.table-cart td.product-col .product-title {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .table.table-cart td.quantity-col.quantity {
    position: relative;
    padding: 0;
  }
  .table.table-cart td.quantity-col.quantity .cart-product-quantity {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 80px;
    display: block;
    padding: 0;
  }
  .table.table-cart td.remove-col {
    position: relative;
    padding: 0;
  }
  .table.table-cart td.remove-col .btn-remove {
    position: absolute;
    top: -130px;
    left: 0px;
  }
}
.table.table-cart .total-col ins, .table.table-cart .total-col del {
  text-decoration: none;
}
@media (max-width: 767px) {
  .table.table-cart .cart__meta {
    width: calc(100% - 200px);
    width: -o-calc(100% - 200px);
    width: -ms-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }
}

.cart-product-quantity {
  width: 100px;
}
.cart-product-quantity .form-control {
  padding: 0.85rem 2.6rem;
  height: 40px;
  max-width: 100%;
  border-color: #dadada;
  background-color: #fff;
  margin: 0;
}

.input-spinner {
  position: relative;
}
.input-spinner .input-group-prepend,
.input-spinner .input-group-append {
  position: absolute;
  top: 0;
}
.input-spinner .input-group-prepend {
  right: 0;
}
.input-spinner .input-group-append {
  left: 0;
}
.input-spinner .form-control {
  padding: 0.85rem 2.6rem;
  height: auto;
  border-color: #dadada;
  background-color: #fff;
  margin: 0;
}
.input-spinner .form-control[disabled] {
  background-color: #f9f9f9;
}

.btn.btn-spinner {
  min-width: 0;
  color: #333333;
  padding: 1.25rem 0.4rem;
  font-size: 1rem;
  border: none;
  background: none;
}
.btn.btn-spinner i {
  margin: 0 !important;
}
.btn.btn-spinner:hover, .btn.btn-spinner:focus {
  color: var(--primary);
}
.cart-discount .btn {
  min-width: 60px;
}

.summary.summary-cart {
  padding: 2.5rem 3rem 3rem;
  border: 0.1rem dashed #d7d7d7;
  background-color: #f9f9f9;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
}
.summary.summary-cart .summary-title {
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0;
  padding-bottom: 1.7rem;
  border-bottom: 0.1rem solid #cccccc;
}

.table.table-summary {
  line-height: 1.43;
  border: none;
  margin-bottom: 0;
}
.table.table-summary td {
  padding-left: 0;
  padding-right: 0;
}
.table.table-summary .summary-subtotal > td {
  padding-bottom: 2rem;
}
.table.table-summary .summary-subtotal:first-child > td {
  border-top: 0;
}
.table.table-summary .summary-shipping {
  font-weight: 400;
  font-size: 1.6rem;
}
.table.table-summary .summary-shipping td {
  padding-top: 2rem;
  padding-bottom: 1.3rem;
  height: auto;
  border-bottom: none;
}
.table.table-summary .summary-shipping-row label {
  color: inherit;
}
.table.table-summary .summary-shipping-row td {
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
}
.table.table-summary .custom-control {
  margin: 0;
}
.table.table-summary .wrapper__shipping td {
  padding: 1.5rem 0;
}
.table.table-summary .summary-shipping-estimate {
  font-weight: 400;
  font-size: 1.4rem;
}
.table.table-summary .summary-shipping-estimate td {
  height: auto;
  padding-top: 1.4rem;
  padding-bottom: 2.3rem;
  border: none;
}
.table.table-summary .summary-shipping-estimate a {
  margin-top: 0.6rem;
  display: inline-block;
  font-weight: 300;
  color: #999999;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid #999999;
}
.table.table-summary .summary-shipping-estimate a:hover, .table.table-summary .summary-shipping-estimate a:focus {
  color: var(--primary);
  border-bottom-color: var(--primary);
}
.table.table-summary .summary-shipping-estimate .address {
  font-weight: 300;
  font-size: 1.3rem;
}
.table.table-summary .item_shipp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.table.table-summary .summary-total td {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.summary-cart .table.table-summary tbody td:first-child {
  font-size: 1.6rem;
}
.summary-cart .table.table-summary thead th:last-child,
.summary-cart .table.table-summary tbody td:last-child {
  min-width: 0;
}
.summary-cart .table.table-summary tbody td:last-child:not(:first-child) {
  text-align: left;
}

/* Gift wrapping */
.p-gift-image {
  max-width: 8rem;
}
.p-gift-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0;
}
.p-gift-title .p-gift-variant {
  cursor: pointer;
  color: #666;
  border-bottom: 1px solid;
}
.p-gift-title i {
  padding: 0 .7rem
}
#gift-note{
  max-width: 52rem;
}
.p-gift-info .label-for-checkbox.remove,
.p-gift-info a.remove{
  display: block;
  margin: 0;
  font-size: 1.3rem;
  color: #999;
}
.p-gift-info .label-for-checkbox.remove p,
.p-gift-info a.remove p{
  display: inline;
  border-bottom: 1px solid;
  cursor: pointer;
}