<div class="container">
  <div class="border-bottom mb-4">
    {%-render 'kt_breadcrumb'-%}
  </div>
  <div class="row mt-5 mb-7">
    <div class="col-12">
      <h2 class="title">Default Style</h2>
      <div class="row">
        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-primary btn-rounded">Button text</a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-primary">Button text</a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-primary btn-round">Button text</a>
          </div>
        </div>
      </div>

      <hr class="mt-3 mb-4">

      <h2 class="title">Border Style</h2>

      <div class="row">
        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-outline-primary btn-rounded">Button text</a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-outline-primary">Button text</a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-outline-primary btn-round">Button text</a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-outline-dark btn-rounded">Button text</a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-outline-dark">Button text</a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-outline-dark btn-round">Button text</a>
          </div>
        </div>
      </div>

      <hr class="mt-3 mb-4">
      <h2 class="title">Button With Icon Style</h2>

      <div class="row">
        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-primary btn-rounded"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-primary"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-primary btn-round"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-primary btn-rounded"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-primary"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-primary btn-round"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>
      </div>

      <hr class="mt-3 mb-4">

      <h2 class="title">Border Style With Icons</h2>

      <div class="row">
        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-outline-primary btn-rounded"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-outline-primary"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-outline-primary btn-round"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-outline-primary btn-rounded"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-outline-primary"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-outline-primary btn-round"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-outline-dark btn-rounded"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-outline-dark"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-outline-dark btn-round"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-outline-dark btn-rounded"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-outline-dark"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-outline-dark btn-round"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>
      </div>

      <hr class="mt-3 mb-4">

      <h2 class="title">Buttons With Shadow Style</h2>

      <div class="row">
        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-primary btn-rounded btn-shadow">Button text</a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-primary btn-shadow">Button text</a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-primary btn-round btn-shadow">Button text</a>
          </div>
        </div>
        </div>

      <div class="row">
        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-primary btn-rounded btn-shadow"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-primary btn-shadow"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-primary btn-round btn-shadow"><span>Button text</span><i class="fkt-long-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Rounded Corners Style</span>
            <a href="#" class="btn btn-primary btn-rounded btn-shadow"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Square Style</span>
            <a href="#" class="btn btn-primary btn-shadow"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-2">
          <div class="btn-wrap">
            <span>Round Style</span>
            <a href="#" class="btn btn-primary btn-round btn-shadow"><i class="fkt-long-arrow-right"></i><span>Button text</span></a>
          </div>
        </div>
      </div>

      <hr class="mt-3 mb-4">

      <h2 class="title">Simple Button Styles</h2>

      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-link">Button Text</a>
          <a href="#" class="btn btn-link"><span>Button Text</span><i class="fkt-long-arrow-right"></i></a>
          <a href="#" class="btn btn-link"><i class="fkt-long-arrow-right"></i><span>Button Text</span></a>

          <a href="#" class="btn btn-link btn-link-dark">Button Text</a>
          <a href="#" class="btn btn-link btn-link-dark"><span>Button Text</span><i class="fkt-long-arrow-right"></i></a>
          <a href="#" class="btn btn-link btn-link-dark"><i class="fkt-long-arrow-right"></i><span>Button Text</span></a>
        </div>
      </div>

      <hr class="mt-3 mb-1">
    </div>
  </div>
</div>